# OS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Java/Maven
target/
*.log
hs_err_pid*
replay_pid*
dependency-reduced-pom.xml
.settings/
.classpath
.project

# Node
node_modules/

# Docker / env
**/.env
.env
